@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('../fonts/Ubuntu-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('../fonts/Ubuntu-Regular.woff2');
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../IMG/bc-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}

header span:hover{
    color: #01813F;
}

.logo:hover {
    color: #01813F;
}

.logo {
    width: 157px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding: 18px 0;
    margin-left: 79px;
    color: #FFFFFF;
}

.wrapper-svg {
    width: 100%;
    display: flex;
    justify-content: end;
    column-gap: 25px;
    margin-left: 701px; /*382*/
}

header svg:hover path{
    color: #01813F;
    fill: currentColor;
}

.wrapper-link {
    width: 100%;
    border-left: 3px solid #4E4E4E;
    margin-left: 20px;
    margin-right: 79px;
    padding: 4px 0 4px 27px;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 615px;
    max-width: 444px;
    background-color: #FFFFFF;
    padding: 31px 60px;
    position: relative;
    top: 54px;
}

.section-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sing-link {
    text-decoration: none;
    color: rgba(67, 67, 67, 1);
    font-size: 20px;
    line-height: 20px;
}

.log-link {
    text-decoration: none;
    color: rgba(60, 184, 120, 1);
    font-size: 14px;
    line-height: 14px;
}

.log-link:hover {
    color: #01813F;
}

.form::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    position: absolute;
    left: 0;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.button a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    font-size: 16px;
    border-radius: 3px;
    padding: 11px 0;
}

a.fb-button {
    background-color: rgba(48, 93, 184, 1);
    padding-left: 10px;
    padding-right: 20px;
    column-gap: 32px;
}

.fb-button:hover {
    background-color: #022263;
}

a.g-button {
    background-color: rgba(223, 74, 50, 1);
    padding-left: 12px;
    padding-right: 27px;
    column-gap: 38px;
}

.g-button:hover {
    background-color: #AB1F09;
}

.g-button::before {
    content: '';
    position: absolute;
    left: 215px;
    width: 1px;
    height: 28px;
    background-color: rgba(43, 13, 9, 0.1);
}

.g-button::after {
    content: '';
    position: absolute;
    left: 49px;
    width: 1px;
    height: 28px;
    background-color: rgba(10, 22, 47, 0.1);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: rgba(132, 132, 132, 1);
    margin: 34px 0 12px;
}

p::after {
    content: "";
    width: 100%;
    border-top: 2px solid rgba(242, 242, 242, 1);
}

p::before {
    content: '';
    width: 100%;
    border-top: 2px solid rgba(242, 242, 242, 1);
}

.input {
    border-radius: 4px;
    width: 100%;
    padding: 15px 19px;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    opacity: 0.5;
}

.input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    opacity: 1;
    border-color: rgba(0, 0, 0, 0.21);
    outline: none;
}

input[type=checkbox] {
    display: none;
}

.checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid  rgba(0, 0, 0, 0.21);
    position: relative;
}

.svg-check {
    display: none;
}

.checkbox-hidden:checked ~ .checkbox .svg-check {
       display: block;
       content: '';
       position: absolute;
       left: 1px;
       top: 1px;
}
      
.flex {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 14px;
    color: rgba(67, 67, 67, 1);
}

span a {
    color: rgba(60, 184, 120, 1);
}

.flex:hover span a{
    color: #01813F;
    text-decoration: underline;
}

.button-green {
   display: flex; 
}

.button-accept {
    width: 100%;
    margin-top: 20px;
    padding: 16px 99px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-align: center;
}

.button-accept:hover {
    background-color: #01813F;
}



